.font-link-base {
  font-family: 'Gotham', sans-serif;
  color: black;
}

.font-link-bold {
  font-family: 'Gotham Black', sans-serif;
}

.font-link-light {
  font-family: 'Gotham XLight', sans-serif;
}

.App-header-base {
  font-size: calc(10px + 2vmin);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header-white {
  background-image: url('assets/Kotlin_bg_white.svg');
}

.App-header-black {
  background-image: url('assets/Kotlin_bg.svg');
}

.App-covers {
  height: 20vmin;
  pointer-events: none;
}

.App-big-name {
  font-size: 10vmin;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.App-small-name {
  font-size: 4vmin;
  margin-top: 4vmin;
  margin-bottom: 2vmin;
  color: white;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-buttons-container {
  min-height: 10vmin;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-display-flex {
  display: flex;
}

.App-button-base {
  height: 10vmin;
  margin-top: 5vmin;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
  border: none;
  background-position: center;
  cursor:pointer;
  color: white;
  font-size: 100%;
}

.App-button-start {
  background-image: url('assets/play_button.svg');
  width: 30vmin;
  height: 6vmin;
  margin-top: 4vmin;
}

.App-card-container-base {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 9vmin;
  width: 18vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  margin: 2.5vmin;
  cursor: pointer;
}

.App-card-container-word {
  background-image: url('assets/covers/empty.svg');
}

.App-card-container-pink {
  background-image: url('assets/covers/pink.svg');
}

.App-card-container-gray {
  background-image: url('assets/covers/gray.svg');
}

.App-card-container-violet {
  background-image: url('assets/covers/violet.svg');
}

.App-card-container-black {
  background-image: url('assets/covers/black.svg');
}

.App-min-height {
  min-height: 100vh;
}

.App-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-flex-direction-row {
  flex-direction: row;
}

.App-key-card-container {
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-key-card-container-row {
  height: 8vmin;
}

.App-key-card-square {
  height: 8vmin;
  width: 8vmin;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.App-key-card-square-pink {
  background-image: url('assets/keyCard/pink.svg');
}

.App-key-card-square-violet {
  background-image: url('assets/keyCard/violet.svg');
}

.App-key-card-square-gray {
  background-image: url('assets/keyCard/gray.svg');
}

.App-key-card-square-black {
  background-image: url('assets/keyCard/black.svg');
}

.App-game-stat-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vmin;
  margin-right: 5vmin;
}

.App-game-stat-item-amount {
  display: flex;
  align-items: center;
  font-size: 2.5vmin;
  margin-top: 0.5vmin;
  margin-left: 2.5vmin;
  margin-bottom: 3vmin;
}

.App-game-stat-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-game-show-key-card {
  height: 5vmin;
  width: 25vmin;
  background-image: url('assets/show_card.svg');
}

.App-game-finish-game {
  height: 5vmin;
  width: 18vmin;
  background-image: url('assets/finish_game.svg');
}

.App-game-stats {
  height: 5vmin;
  width: 23vmin;
  background-image: url('assets/stats.svg');
}

.App-back-button {
  height: 5vmin;
  width: 23vmin;
  background-image: url('assets/back.svg');
}

.App-game-stat {
  color: black;
  font-size: 6vmin;
  margin-top: 0;
  margin-bottom: 5vmin;
}
